# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

CMakeFiles
CMakeCache.txt
CMakeScripts
cmake_install.cmake
Searching.xcodeproj
Debug/
DerivedData/
Searching.build/
CTestTestfile.cmake
Makefile
Testing/
search-file.txt
expected-results.txt
search-results.txt
search
